@font-face {
  font-family: "CustomFont";
  src: url(valorantfont.ttf);
}

*{font-family: "Lucida Console";}

.removed {
  transition: all 0.5s ease-out;
  opacity: 0;
}

body {
  position: relative;
  background-color: #ffffff;
}

h1 {
  font-family: "CustomFont";
  width: 100%;
  margin-bottom: 0;
  font-family: 'CustomFont';
  background-color: #fa4454;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  color:rgb(255, 255, 255);
}

h2 {
  width: 100%;
  font-family: "CustomFont";
  background-color: #fa4454;
  font-size: 18px;
  text-align: center;
  padding-bottom: 30px;
  color:rgb(0, 0, 0);
}

.enterdevapikey {
  width: 100%;
  padding: 150px;
  text-align: center;
  font-size: 30px;
  color:rgb(0, 0, 0);
}

.errormsg {
  color:#ce0000;
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  margin-bottom: 0px;
}

.btn1 {
  width: 25%;
  font-size: 20px;
  background: rgb(0, 0, 0);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  margin-top: -20px;
}

.btn1:hover {
  color: #ffffff;
  background: rgb(27, 27, 27);
}

.box {
  position: fixed;
  background: #fa4454;
  height: 80px;
  bottom: 0;
  width: 100%;
}

.listadd {
  color:rgb(255, 255, 255);
  font-size: 20px;
  border: none;
  appearance: none;
  border-radius: 5px;
  width: 500px;
  outline: none;
}

input {
  font-size: 20px;
  border: none;
  appearance: none;
  background: #000000;
  padding: 12px;
  border-radius: 5px;
  width: 300px;
  outline: none;
  margin-top: 20px;
}

input:hover {
  color:#ffffff;
  background: rgb(27, 27, 27);
}

.explayer {
  text-align: center;
  font-size: 20px;
  color:rgb(0, 0, 0);
  margin-bottom: -50px;
}

.currentplayer {
  text-align: center;
  font-size: 35px;
  color:rgb(0, 0, 0);
  margin-bottom: 0;
}

.noplayer {
  padding-top: 30px;
  text-align: center;
  font-size: 35px;
  color:rgb(0, 0, 0);
  margin-bottom: 0;
}

.searchtext {
  text-align: left;
  font-size: 20px;
  color:rgb(43, 43, 43);
  margin-bottom: -40px;
  margin-left: 20%;
}

.rankimage {
  width: 200px;
  height: 200px;
  border: 1px solid #000000;
}

.imgcontainer {
  padding-left: 0%;
}

hr {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.searchcontainer {
  display: flex;
  flex-wrap: wrap;
}

.searchtextcontainer {
  margin-top: 9%;
  margin-left: 35%;
  margin-right: 15%;
  font-size: 10px;
}

.rankposition {
  font-size: 20px;
  color:rgb(49, 49, 49);
}

.rankname {
  text-align: center;
  font-size: 20px;
  color:rgb(27, 27, 27);
  margin-bottom: 0;
  padding-top: 3%;
}

.rr {
  text-align: center;
  font-size: 20px;
  color:rgb(99, 97, 97);
}

.rankrrcontainer {
  margin-left: 0%;
  margin-bottom: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  margin: auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #fa4454; /* Red */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

.loaderpadding {
  padding: 70px;
}

@media screen and (max-width: 800px) {}